@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);
@font-face {font-family: 'Poppins', sans-serif;font-family: 'Oranienbaum', serif;}

/* ==========================================================================
	Base
========================================================================== */
body{ background-color:#FFF;font-family: 'Cutive Mono', sans-serif; color:#848484; font-weight:300; font-size:12px;overflow-x: none}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, main {display: block}
audio, canvas, video {display: inline-block;*display:inline;*zoom:1}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
h1,h2,h3,h4,h5,h6{ color:#343434}
::-moz-selection {background: #222222;color:#ffF;text-shadow: none;}
::selection {background: #222222;color:#ffF;text-shadow: none;}
a,input,textarea,button,body,img{transition-delay: 0s;transition-duration: 0.6s;transition-property: all;transition-timing-function: ease;}
a {text-decoration: none;outline: none;color: #222222;}
a:hover{ text-decoration:none; color:#222222}
a:focus, img:focus, button:focus, .btn:focus {outline:none;text-decoration: none;}

/* ==========================================================================
	Header styles
========================================================================== */
.header { padding-top:22px; padding-bottom:3px}
.header.header-fixed-top{ width:100%; position:fixed; top:0;background-color:rgba(255,255,255,0.9); z-index:60; padding:10px 0}
.header.header-fixed-top .menu-expanded{ padding-top:15px}
.header hgroup{ padding:0 15px; overflow:hidden}
.header hgroup h1{ padding:0; margin:0}
.header hgroup h1 a{ display:block; float:left; max-width:81px}
.main-menu {background-color: transparent;position: fixed;width: 100%;height:100%;top: 0px;right: 0px;z-index:2;}
.menu,.linee {cursor: pointer;}
.menu.over{background-color:rgba(255,255,255,0.8);}
.nav-icon{ float:right;font-family: 'Oranienbaum', serif; display:block; position:relative; text-transform:uppercase; font-size:14px; letter-spacing:4px; color:#222222;}
.menu {transition: all 0.40s ease-out; width:60px; height:30px; cursor:pointer; position:absolute; right:0; top:0; z-index:5; border-radius:100%;}
.nav-icon p{ position:absolute; right:0; top:0; padding-left:11px; margin-bottom:0;margin-top:1em; }
.over {transform: scale(100);transition: all 0.350s ease-in;cursor: default;}
.linea1 {background: #222222;height: 2px;width: 15px;position: absolute;right: 33px;top: 33px;z-index:90;transition: all 0.3s;opacity:0}
.linea1.overL1,.linea3.overL3{opacity:1}
.linea2 {background: #222222;height: 2px;width: 15px;position: absolute;right: 33px;top: 38px;opacity: 1;transition: opacity 0.5s;z-index:90;opacity:0}
.linea3 {background: #222222;height: 2px;width: 15px;position: absolute;right: 33px;top: 43px;z-index:90;opacity:0}
.overL1 {animation: closetop 1s forwards;animation-direction: alternate;cursor: pointer;}
.overL2 {opacity: 0;transition: opacity 0.5s;cursor: pointer;}
.overL3 {animation: closebottom 1s forwards;animation-direction: alternate;cursor: pointer;}
@keyframes closetop {
0% {transform: translateY(5px) rotate(0deg);}
25% {transform: translateY(5px) rotate(0deg);}
75% {transform: translateY(5px) rotate(-45deg);}
100% {transform: translateY(5px) rotate(-45deg);}
}
@keyframes closebottom {
0% {transform: translateY(0px) rotate(0deg);}
25% {transform: translateY(-5px) rotate(0deg);}
75% {transform: translateY(-5px) rotate(45deg);}
100% {transform: translateY(-5px) rotate(45deg);}
}
.main-menu {visibility: hidden;text-align:center;opacity: 0;transition: all 0.300s;transition-delay: 0s;}
.overmain {visibility: visible;background-color:rgba(255,255,255,0.8);opacity: 1; z-index:60; top:0;padding-top:5%;transition: all 0.400s;
 transition-delay: 0.370s;}
.main-menu ul {list-style-type: none; text-align:center; margin:0; padding:0; }
.main-menu ul li {width:100%; display:inline-block;font-family: 'Oranienbaum', serif; text-transform:uppercase; font-size:25px; margin-bottom:20px; font-weight:400; position:relative;z-index:1;  transition: all 0.400s;transition-delay: 0.370s;}
.main-menu ul li{ position:relative; ; }
.main-menu ul li:after {content: "";position:absolute;bottom:52%; left:0; right:0; margin:0 auto;width:0; height:1px;background:#222222;
z-index:2;transition: width 0.3s; z-index:1}
.main-menu ul li:hover:after{ width:15%; }
.main-menu ul li.active:after{ width:15%;}
.main-menu ul li a {text-decoration: none; color:#222222; position:relative; z-index:2; display:block}

/* ==========================================================================
	Main Wrapper
========================================================================== */
.main-wrapper,.main-wrapper-inner{background-color:#FFF;position:relative; z-index:6;}
.wrapper{background-color:#FFF; padding:0 25px;position:relative; z-index:6; margin-bottom:396px}
.title-weight {
	background: black;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
}

/* ------------------------------------------------------------------------------
	 Portfolio
-------------------------------------------------------------------------------*/
.portfolio-item {
	right: 0;
	margin: 0 0 20px;
	padding: 0 10px;
}
.portfolio-item .portfolio-link {
	display: block;
	position: relative;
	margin: 0 auto;
}
.portfolio-item .portfolio-link .caption {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(58,54,54,.9);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
.portfolio-item .portfolio-link .caption:hover {
	opacity: 1;
}
.portfolio-item .portfolio-link .caption .caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.portfolio-item .portfolio-link .caption .caption-content i {
	margin-top: -12px;
}
.portfolio-item .portfolio-link .caption .caption-content h3 {
	margin: 0;
	color: #e9eaed;
	font-size: 17px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.portfolio-item .portfolio-link .caption .caption-content h4 {
	margin: 10px 0;
	color: #e9eaed;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#portfolio * {z-index: 2;}

/* ------------------------------------------------------------------------------
	 Service
-------------------------------------------------------------------------------*/
.service {margin-bottom: 50px;
}
.service h4 {
	font-size: 19px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
}
.service-content {
	margin-top: 30px;
}
.service .icon {
	color: #a1a4a8;
	font-size: 48px;
}
.service-content h5 {
	text-transform: uppercase;
	font-weight: 400;
	color: #000;
}

/* ==========================================================================
	Footer
========================================================================== */
.footer{ background-color:#222222; position:fixed; z-index:1; width:100%; bottom:0; left:0; right:0;padding-top:5%; padding-bottom:115px; text-align:center; color:#999999; font-size:10px; letter-spacing:1px; font-weight:400}
.footer a{ color:#999999;}
.footer a:hover{ color:#FFF}
.footer img{ margin:0 auto}
.footer h3{ text-align:center; color:#FFF;font-family: 'Oranienbaum', serif; text-transform:uppercase; letter-spacing:2px; font-size:21px; position:relative}
.footer h3:after{ content:""; margin:0 auto; display:block; position:absolute; bottom:-20px; left:0; right:0; width:63px; height:3px; background-color:#FFF}
.footer p{ line-height:12px; font-weight:300}
.footer-bot{ padding-top:58px}
.copy-right{ padding-top:14px}
.padding-top{ padding-top:16px}
.made-by i{ color:#e8496a}
.social{ text-align:center; padding:0; margin:0; list-style:none}
.social li{ display:inline-block; margin:0 5px; font-size:12px}

/* ==========================================================================
	Inner
========================================================================== */
.main-wrapper-inner{ margin-bottom:396px}
.wrapper-inner{ margin:auto; width:100%; max-width:1031px; padding-top:71px; padding-bottom:20px}
.inner-left{ float:left; width:100%; max-width:331px}
.inner-right{ float:right; width:100%; max-width:700px}
.wrapper-inner p{ color:#343434; font-size:13px; line-height:30px; font-weight:400;padding-bottom:20px; font-weight:300}

/* ==========================================================================
	Details Gallery
========================================================================== */
.details-content,.about-content,.contact-wrapper{ overflow:hidden}
.details-content {padding-top: 1em;}
.details-left header h3,.about-content h3{ color:#343434; margin-top:0}
.details-left header h4,.details-left header h5{ font-size:13px; margin-top:0; font-weight:400}
.details-left header h4{ font-weight:600; padding-top:22px}
.details-content header{ margin-bottom:67px}
.details-content header h2,.details-content header h3{ font-size:13px; font-weight:400;margin-top:0}
.details-content header h2{ font-weight:600; }
.details-image{ margin-bottom:80px}
.details-content header a {color:#008aff;}

/* ==========================================================================
	About
========================================================================== */
.about-content{ margin-bottom:58px}
.about-content header h4{ margin-top:0}
.about-content h3{ padding-bottom:6px}

/* ==========================================================================
	ScrollTop
========================================================================== */
.scrollTop {
  position: fixed;
  right: 5%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 10;
}
.scrollTop a {
  font-size: 18px;
  color: #fff;
}